---
title: Sakit gila no. 29
publishedAt: 2022-05-11
updatedAt: 2022-05-11
desc: Mohon hargai yang berbicara.
tags:
  - sakit_gila
---

Orang yang kalau diajak bicara malah sibuk dengan *gadget*-nya.

Kalau mau cek atau balas pesan coba izin dulu.

Apalagi jika pembicaraan sudah intens dan mungkin akan menyinggung perasaan jika tidak kita berikan perhatian.
