---
title: Bukan pertama kali
publishedAt: 2022-05-04
updatedAt: 2022-05-29
desc: Sesekali hidup memang perlu ada 'sentilan' dikit biar sadar.
tags:
  - motivasi
  - hidup
---

Dulu ada mungkin dari kita pernah mengalami masa-masa sulit yang mungkin membuat kita merasa hancur, hilang arah, gelisah, bahkan sempat ingin menyerah. Dulu pernah merasakan hal yang sama, atau bahkan lebih parah dari apa yang dirasakan hari ini.

Dan pada akhirnya kita berhasil melewati masa-masa itu.

Apa iya kita yang sekarang yang sudah barang tentu lebih kuat dari kita di masa lalu harus memilih untuk menyerah begitu saja?

Jangan membuat diri kita di masa lalu menyesali diri kita yang sekarang, yang cuma ‘disentil’ aja udah jatuh dan nggak mau berlari lagi.

Bukankah ujian yang membuat kita bisa mendapatkan tingkat yang lebih tinggi lagi? Ujian yang menjadi syarat kita bisa melangkah ke jenjang selanjutnya?

Tingkatan yang lebih tinggi berarti juga ada *reward* yang lebih besar, bukan?

Maka, maksimalkan kesempatan untuk berjuangmu hari ini. Karena setelah kehidupan ini, sudah nggak ada capek lagi 😊
