{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "svelteAllowShorthand": true,
  "svelteSortOrder": "scripts-markup-options-styles",
  "semi": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
